# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
venv-*/
env/
.env
.venv
venv-pyqt/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# Logs
*.log

# OS files
.DS_Store

# IDEs
.vscode/
.idea/

# Model and build artifacts
*.dxnn
*.onnx

# Other
*.swp
